*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.page{
    height: 100%;
    width:100%;
    
}
canvas{
z-index: -1;
position:fixed;



}
#home{
    transition: .5s ease;

}
#home.hide{
opacity: 0;
}
.home-holder {
    
    
    position: absolute;
    color:white;
    height: 10vh;
    width: 100%;
    bottom:10%;
    left:0;
    transform: translateY(10%);
    
}
.home-holder a{
    text-decoration: none;
    color:white;
}

.home {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.home h2{
    margin:auto 3%;
    font-size: 2rem;
    text-transform: uppercase;
    transition: .3s ease;
    
}
.home h2:hover{
    filter: drop-shadow(2px 2px .8rem black);
    transform: rotateY('180deg');
}
.big{
    /* z-index: 1000; */
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    color:white;
    top:5%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 3rem;
}
section{
    width:100vw;
    height: 100vh;
    position: absolute;
    transition: .3s ease;
    /* background: rgba(200,0,0,1); */
}
section h2{
    /* margin-top:20px; */
    font-size: 2.5rem;
    color:white;
    text-align: center;
}
section:nth-of-type(n+2){
    background: rgba(255,0,0,.6);
}
#create{
    left:-120%;
}
#create.active{
    left:0
}
#work{
    right: -100%;
}
#work.active{
    right: 0;
}
#us{
    top:-150%;
}
#us.active{
    top:0;
}
.close{
    position: absolute;
    font-size: 1.5rem!important;
    top:3%;
    right:3%;
    cursor: pointer;
    z-index: 1000;
    transition: .3s ease;
    /* perspective: 1000px; */
    /* transform-style: preserve-3d; */
    
}
.close:hover{
    transform:rotateY('180deg');
    /* transform: scale(1.2); */
    color:white;
}
.create-hold{
    width: 100%;
    height: 10vh;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    font-size: 2rem;
    top:45%;
    position: relative;
    transition: .3s ease;
}
.create-hold h3{
    margin:auto 2%;
    cursor: pointer;    
}

.create-hold.active{
    top:0%;
    font-size: 1rem;
    z-index: 99;
}
.current-work-container{
    position: absolute;
    width:100%;
    height: 100%;
    left:-100%;
    transition: .5s ease;
}
.current-work-container.active{
    left:0;
}
.past-work-container{
    position:absolute;
    width:100%;
    height: 100%;
    bottom:-100%;
    transition: .5s ease;
}
.past-work-container.active{
    bottom:0;
}
.upcoming-work-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-100%;
    transition: .5s ease;
}
.upcoming-work-container.active{
    top:0;
}
.upcoming-work-container h2,.past-work-container h2{
    position: relative;
    top:10%;
}
/* .current-work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
} */
.current-work{
    display: flex;
    flex-direction: row;
    /* height: 35vh; */
    justify-content: space-evenly;
    width:100%;
    position: relative;
}
.current-work.active{
    display:flex;
    flex-direction: column;
    width:30vw;
}
.current-work-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px 0;
    color:white;
    
    
}

.img-holder{
    width:200px;
    margin: auto;
    cursor: pointer;
    
}
.img-holder:hover > img {
transform: scale(1.1);

}
.img-holder img{
    width:100%;
    transition: .3s ease;
}
.current-work-holder{
    /* width:100%; */
    position: relative;
    /* top:15vh; */
}
.current-work-holder.active{
    width:100%;

}
.curr-wrap{
    display: flex;
    /* height: 100%; */
    justify-content: flex-start;
    align-items: flex-start;
}
.holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease;
    top:-6.8rem;
    /* width:80%; */
    
    /* height: 32vh; */
}
.holder.active,.holder-1.active,.holder-2.active,.holder-3.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    opacity: 1;
    pointer-events: all;
    top:1.5rem;
}
.holder img{
    width:350px;
}
.links{
    /* width:50%; */
    margin: auto ;
}
.links button{
    width:150px;
    height: 40px;
}
.links a{
    text-decoration: none;
    color:black;

}
.desc{
    width:65%;
}
.desc h4{
    text-align: center;
}
.desc p{
    font-size:1.2rem;
    font-weight: 400;
    line-height: 1.5;
}
#light-box{
    width:100vw;
    height: 100vh;
    display: none;
}
#light-box.active{
    display: block;
    background: black;
}
#work{
    position: relative;
    
}
.work-holder{
    display:grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    top:5vh;
}
.work-holder-item{
    
    
    width:180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 5rem; */
    color:white;
}
.work-holder-item h3{
    font-size: 1.1rem;
}
.icon-holder{
    width:40%;
    height: 40%;
    /* margin:auto; */
    background: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
}
.work-holder-item i{
    /* margin: auto; */
    font-size:1.5rem;
    color:white;
}
.us-container{
    position: relative;
    width:100%;
    height: 100%;
    /* overflow-y: scroll; */

}
.choose{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    margin-top:20%;
    transition: .3s ease;
}
.choose>*{
   cursor: pointer;
}
.choose.active{
    margin:2% auto auto;
    
}
.choose.active>h2{
    font-size: 1rem;
    transition: .2s ease;
}
.choose.active h2.active{
font-size:1.4rem;
}
.business-holder,.creative-holder{
    position: absolute;
    /* top:2%; */
    opacity: 0;
    transition: .3s ease;

}
.business-holder.active,.creative-holder.active{
    opacity: 1;
    pointer-events: all;
}
.business-holder h3,.creative-holder h3{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    /* top:1vh; */
}
.business-holder h4,.creative-holder h4{
    color:white;
    font-size: 1rem;
}
.business-team,.creative-team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto ;
    text-align: center;
    /* gap:1rem; */
    padding:1rem;
    height: 85vh; 
}


.business-team p,.creative-team p{
    width:90%;
    line-height: 1.5;
    font-size: 1rem;
    text-align: center;
    color:rgba(220,220,220,1);    
}
.team-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-img-holder{
width:150px;
height: 150px;
margin-bottom:10px;
}
.team-img-holder img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: .3s ease;
    border:3px solid white;

}
.team-img-holder:hover > img{
    transform: scale(1.1);
}